@import "../base/variables.scss";

.fixed-plugin {
  position: fixed;
  top: 120px;
  right: 0;
  width: 65px;
  background: rgba(0, 0, 0, 0.45);
  z-index: 1031;
  border-radius: 8px 0 0 8px;
  text-align: center;
  transition: background 0.15s ease-in;
  animation: opacityFadeIn 0.25s both ease;
  animation-delay: 0.25s;

  &:hover,
  &.fixed-plugin-active {
    background: rgba(0, 0, 0, 0.6);
  }

  .fa-cog {
    color: white;
    padding: 10px;
    border-radius: 0 0 6px 6px;
    width: auto;
  }

  .dropdown-menu {
    top: 0;
    opacity: 1;
    right: 62px;
    left: auto;
    width: 11rem;
    min-width: 11rem;
    display: block;
    padding-top: 10px;
    padding-bottom: 5px;
    background-color: white;
    position: absolute;
    z-index: 1000;
    user-select: none;
    border-radius: 6px;
    box-shadow: $settings-box-shadow;

    &:before,
    &:after {
      top: 22px;
      content: "";
      width: 17px;
      position: absolute;
      display: inline-block;
      transform: translateY(-50%);
      border-top: 16px solid transparent;
      border-bottom: 16px solid transparent;
    }

    &:before {
      left: auto;
      right: -16px;
      margin-left: auto;
      border-left: 16px solid #dbdbdb;
    }

    &:after {
      right: -15px;
      border-left: 16px solid #fff;
    }

    .header-title {
      line-height: 35px;
      font-size: 18px;
      text-align: center;
      color: #7f888f;
      text-transform: uppercase;
      border-bottom: 1px solid #dbdbdb;
      margin-bottom: 0.5rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }

    .dropdown-item {
      width: 100%;
      font-size: 1rem;
      display: inline-block;
      color: #555;
      padding-right: 1rem;
      z-index: initial;
      pointer-events: visible;

      > svg {
        margin-left: 0.3rem;
        margin-right: 0.3rem;
      }
    }
  }
}
