@import "../base/variables.scss";

#load-spinner {
  position: absolute;
  width: 4.75em;
  height: 4.75em;
  z-index: 9999;
  top: 50%;
  left: 48%;

  > div {
    width: 4.75em;
    height: 4.75em;
    display: inline-block;
    position: absolute;
    border: 0.35em solid;
    border-color: $cyan transparent transparent transparent;
    box-sizing: border-box;
    border-radius: 50%;
    animation: spin-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

    &:nth-child(1) {
      animation-delay: -0.45s;
    }

    &:nth-child(2) {
      animation-delay: -0.3s;
    }

    &:nth-child(3) {
      animation-delay: -0.15s;
    }
  }
}

@keyframes spin-ring {
  0% {
    transform: rotate(0deg);
  } 100% {
    transform: rotate(360deg);
  }
}
