.navbar {
    width: 100%;
    padding-top: .72rem;
    padding-bottom: .72rem;
    background-color: $color-nav-bar;
}

.brand-wrapper {
    width: 11em;
    padding-top: .2em;
    padding-left: 1.5em;
}

.navbar-centered {
    position: absolute;
    width: 100%;
    -webkit-animation: opacityFadeIn .25s both ease;
    animation: opacityFadeIn .25s both ease;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;
}

.router-link-exact-active {
    color: $color-blue-highlight !important;
    opacity: 1 !important;
}

.nav-divider {
    background-color: white;
    border-radius: 50%;
    display: inline-block;
    margin: auto .01rem auto .01rem;
    height: .6rem;
    opacity: .7;
    width: 1.5%;
}

.navbar-start {
    font-size: 1.25rem;
    font-weight: 400;
    position: relative;
    width: 33em;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    display: flex;
    overflow-x: hidden;
    overflow-y: hidden;

    a.navbar-item {
        color: white;
        opacity: .7;
        width: 31%;
        text-transform: uppercase;
        -webkit-transition: all .15s ease-in;
        transition: all .15s ease-in;

        &:hover {
            color: white;
            background-color: transparent;
            opacity: 1;
        }

        &.is-active {
            color: $color-blue-highlight !important;
            background-color: transparent;
            opacity: 1 !important;
        }

        > span:first-child {
            margin-left: auto;
        }

        > span:last-child {
            margin-left: .65rem;
            margin-right: auto;
        }
    }
}