.fixed-plugin {
    position: fixed;
    top: 120px;
    right: 0;
    width: 65px;
    background: rgba(0, 0, 0, 0.45);
    z-index: 1031;
    border-radius: 8px 0 0 8px;
    text-align: center;
    -webkit-transition: background .15s ease-in;
    transition: background .15s ease-in;
    -webkit-animation: opacityFadeIn .25s both ease;
    animation: opacityFadeIn .25s both ease;
    -webkit-animation-delay: .25s;
    animation-delay: .25s;

    &:hover, &.fixed-plugin-active {
        background: rgba(0, 0, 0, 0.6);
    }

    .fa-cog {
        color: white;
        padding: 10px;
        border-radius: 0 0 6px 6px;
        width: auto;
    }

    .dropdown .dropdown-menu {
        top: 0;
        opacity: 1;
        right: 62px;
        left: auto;
        width: 11rem;
        min-width: 11rem;
        display: block;
        padding-top: 10px;
        padding-bottom: 5px;
        background-color: white;
        position: absolute;
        z-index: 1000;
        -webkit-border-radius: 6px;
        border-radius: 6px;
        -webkit-box-shadow: $settings-box-shadow;
        box-shadow: $settings-box-shadow;

        &::before {
            border-bottom: 16px solid transparent;
            border-left: 16px solid #dbdbdb;
            border-top: 16px solid transparent;
            right: -16px;
            margin-left: auto;
            left: auto;
        }

        &::after {
            border-bottom: 16px solid transparent;
            border-left: 16px solid white;
            border-top: 16px solid transparent;
            right: -15px;
            content: '';
            display: inline-block;
            position: absolute;
            top: 22px;
            width: 17px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        &::before {
            content: "";
            display: inline-block;
            position: absolute;
            top: 22px;
            width: 17px;
            -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
        }
    }

    li.header-title {
        line-height: 35px;
        font-size: 18px;
        text-align: center;
        color: #7f888f;
        text-transform: uppercase;
        border-bottom: 1px solid #dbdbdb;
        margin-bottom: .5rem;
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    a.dropdown-item {
        width: 100%;
        font-size: 1rem;
        display: inline-block;
        color: #555;
        padding-right: 1rem;
        z-index: initial;
        pointer-events: visible;

        > svg {
            margin-left: .3rem;
            margin-right: .3rem;
        }
    }
}
