#load-spinner {
    position: absolute;
    width: 4.75em;
    height: 4.75em;
    z-index: 9999;
    top: 50%;
    left: 48%;

    div {
        width: 4.75em;
        height: 4.75em;
        display: inline-block;
        position: absolute;
        border: .35em solid;
        border-color: $cyan transparent transparent transparent;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -webkit-animation: spin-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
        animation: spin-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;

        &:nth-child(1) {
            -webkit-animation-delay: -0.45s;
            animation-delay: -0.45s;
        }

        &:nth-child(2) {
            -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s;
        }

        &:nth-child(3) {
            -webkit-animation-delay: -0.15s;
            animation-delay: -0.15s;
        }
    }
}

@-webkit-keyframes spin-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin-ring {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}